.body {
    background-color: #eeee;
    color: #000;
}

.download-section {
    text-align: center;
}

.footer {
    background-color: #686666;
    color: #fff;
    padding: 3rem;
    margin-top: 5rem;
}

.link {
    color: #fff;
    text-decoration: underline  #fff;
}

.link:hover {
    text-decoration: none;
    color: #fff;
}